<div class="container mt-5">
  <div class="text-center">
    <div class="h2 mb-3">Reset Password</div>
    <p class="mb-5">Please reset your password</p>
  </div>
  <form (submit)="resetPassword()" class="form" [formGroup]="resetPasswordForm">
    <div class="mb-3">
      <label class="mb-2">New Password</label>
      <input
        type="password"
        class="form-control w-100"
        formControlName="password"
      />
      <div
        *ngIf="
          resetPasswordForm.controls.password.touched &&
          resetPasswordForm.controls.password.invalid
        "
        class="text-danger text-sm mt-1"
      >
        Password Required
      </div>
    </div>
    <div class="mb-3">
      <label class="mb-2">Confirm Password</label>
      <input
        type="password"
        class="form-control w-100"
        formControlName="confirmPassword"
      />
      <div
        *ngIf="
          resetPasswordForm.controls.confirmPassword.touched &&
          resetPasswordForm.controls.confirmPassword.invalid
        "
        class="text-danger text-sm mt-1"
      >
        Confirm Password Required
      </div>
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-primary">Reset</button>
    </div>
  </form>
</div>
