<!-- <div class="content">
    <h2>Project Details</h2>
    <div class="body">
        {{projectDetails | json}}
    </div>
    <div class="container">
        <button class="btn btn-outline-secondary btn-sm" (click)="onClickUpdate()">Update</button>
    </div>
</div> -->

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="project-info-box mt-0">
                <a class="btn btn-sm btn-dark my-3" routerLink="/user/user-projects">Back</a>
                <h3>PROJECT DETAILS</h3>
                <!-- <p class="mb-0">Vivamus pellentesque, felis in aliquam ullamcorper, lorem tortor porttitor erat, hendrerit porta nunc tellus eu lectus. Ut vel imperdiet est. Pellentesque condimentum, dui et blandit laoreet, quam nisi tincidunt tortor.</p> -->
            </div><!-- / project-info-box -->

            <div *ngIf="loader" class="spinner-section">
                <div  class="spinner-border text-secondary" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>

            <div *ngIf="!loader" class="project-info-box">
                <p><b>Title:</b> {{projectDetails?.title}}</p>
                <p><b>Description:</b> {{projectDetails?.description}}</p>
                <p><b>Start Date:</b> {{projectDetails?.start_date | date}}</p>
                <p><b>Status:</b> {{projectDetails?.status | status}}</p>
                <p><b>Developers:</b> {{projectDevlopers}}</p>
                <p class="mb-0"><b>Project Lead:</b> {{projectLead}} <button class="mx-2 btn btn-outline-secondary btn-sm" (click)="openFormUpdateModal(updateModal)">Update</button></p>
            </div>

        </div>

    </div>
</div>

<ng-template #updateModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Update Project Details</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="updateForm">
        <!-- Add your form controls here -->
        <div class="form-group">
          <label for="title">Title:</label>
          <input type="text" class="form-control" id="title" formControlName="title">
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" class="form-control" id="description" formControlName="description">
        </div>
        <div class="form-group">
            <label for="start_date">Start Date:</label>
            <input type="text" class="form-control" id="start_date" formControlName="start_date">
        </div>
        <div class="form-group">
            <label for="status">Status:</label>
            <input type="text" class="form-control" id="status" formControlName="status">
        </div>
        
        <!-- Add more form controls as needed -->
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cancel click')">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="saveForm()">Save</button>
    </div>
  </ng-template>

